@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-dark dark:bg-white;
    @apply box-border;
    @apply overflow-y-auto;
    @apply transition-colors duration-500;
    @apply scroll-smooth;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

:root {
  scroll-behavior: smooth;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.card {
  border: 1px solid;
  background: linear-gradient(
    114.55deg,
    rgba(255, 255, 255, 0.1) 2.13%,
    rgba(255, 255, 255, 0) 98.14%
  );

  box-shadow: 0 8px 32px 0 rgba(20, 21, 42, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.headerGradient {
  background: linear-gradient(99deg, #0043ff 10%, #6f00ff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
  color: rgba(0, 0, 0, 0.2);
}

.blobGradient {
  background: linear-gradient(99deg, #0043ff 50%, #6f00ff 50%);
}
@keyframes spinBlob {
  from {
    transform: rotate(1 1 0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spinBlob {
  animation: spinBlob 5s linear infinite;
}
.noise {
  opacity: 0.018;
  position: absolute;
  top: 0;
  inset: 0;
  height: 100%;
  background-repeat: repeat;
  background: url("https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png");
}
