@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-dark dark:bg-white;
    @apply box-border;
    @apply overflow-y-auto;
    @apply overflow-x-hidden
  }
}

body {
  font-family: "Inter", sans-serif;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.card {
  padding: 1rem;
  border: 1px solid;
  background: linear-gradient(
    114.55deg,
    rgba(255, 255, 255, 0.1) 2.13%,
    rgba(255, 255, 255, 0) 98.14%
  );

  box-shadow: 0px 0px 0px 0px rgba(7, 7, 9, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(7, 7, 9, 0.2);
  box-shadow: 0px 8px 8px 0px rgba(7, 7, 9, 0.17);
  box-shadow: 0px 19px 11px 0px rgba(7, 7, 9, 0.1);
  box-shadow: 0px 34px 14px 0px rgba(7, 7, 9, 0.03);
  box-shadow: 0px 53px 15px 0px rgba(7, 7, 9, 0);

  filter: drop-shadow(0px 34px 14px rgba(7, 7, 9, 0.03))
    drop-shadow(0px 19px 11px rgba(7, 7, 9, 0.1))
    drop-shadow(0px 8px 8px rgba(7, 7, 9, 0.17))
    drop-shadow(0px 2px 5px rgba(7, 7, 9, 0.2))
    drop-shadow(0px 0px 0px rgba(7, 7, 9, 0.2));

  box-shadow: 0 8px 32px 0 rgba(20, 21, 42, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
