@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-dark dark:bg-white;
    @apply box-border;
    @apply overflow-y-auto;
    @apply overflow-x-hidden;
    @apply transition-colors duration-500;
    @apply scroll-smooth;
  }
}

body {
  font-family: "Inter", sans-serif;
  
}


@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.card {
  border: 1px solid;
  background: linear-gradient(
    114.55deg,
    rgba(255, 255, 255, 0.1) 2.13%,
    rgba(255, 255, 255, 0) 98.14%
  );

  box-shadow: 0 8px 32px 0 rgba(20, 21, 42, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
